
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{SERVER_PORT} 80 
RewriteCond %{REMOTE_ADDR} !=::1
RewriteRule ^(.*)$ https://everythingisuntrue.com/$1 [R,L]
</IfModule>

AddDefaultCharSet utf-8

<IfModule mod_headers.c>
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS
Header set X-UA-Compatible "IE=Edge"
</IfModule>

<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 60 seconds"
  ExpiresByType text/html "access plus 600 seconds"
  ExpiresByType image/gif "access plus 5184000 seconds"
  ExpiresByType image/jpeg "access plus 5184000 seconds"
  ExpiresByType image/png "access plus 5184000 seconds"
  ExpiresByType text/css "access plus 604800 seconds"
  ExpiresByType text/javascript "access plus 2592000 seconds"
  ExpiresByType application/x-javascript "access plus 2592000 seconds"
</ifModule>


